// 全局变量
$paddingLeft: px2rem(40); // 默认的padding
$borderColor: #E3E5E9; // 边框颜色
$itemOffset: px2rem(20); // 两块区域之间的间距
$itemHeight: px2rem(88);

// 蓝色
$colorBlue: #2A83E1;
// 灰色
$colorGray: #B5B5B5;
// 黑色
$colorBlack: #3D3F52;

